{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mine.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'channels/js/websocketbridge.js' %}"></script>
    <script src="{% static 'js/dynamic.js' %}"></script>
</head>
<body>
    <div class="container">
        <br><br>
        {% block content %}
        {% endblock %}
    </div>


{% block extra_js %}
{% endblock %}
</body>
</html>